/* Elements*/

.jumbotron {
	background: url(../images/popcorn-with-soda-and-movies.jpg);
	color: blue;
}

.button {
	background-color: ;
	border: ;
	color: ;
	text-align: center; 
	text-decoration-style: ;
	display: ;
	font-size: ;
	
}